# rename this file to .env and supply the values listed below

# Database connection details
POSTGRES_PASSWORD=my-custom-password
POSTGRES_USER=first-project-user
POSTGRES_DB=first-project-db
POSTGRES_HOST=postgres

# CONTAINER_NAME_DB=nest-postgres
CONTAINER_PORT_DB=5432

SERVER_PORT=3000

# For prisma. Make sure that de pgsql service name, the db name, user and password is the same of above.
# See https://www.prisma.io/docs/concepts/database-connectors/postgresql
# Host value is the default container name for postgres - @nest-postgres:5432
# change it when changing the container name

# DATABASE_URL="postgres://User:Password@Host.db.User.com/User?schema=public"
DATABASE_URL={POSTGRES_HOST}://${POSTGRES_USER}:${POSTGRES_PASSWORD}@{CONTAINER_NAME}:{CONTAINER_PORT}/${POSTGRES_DB}?schema=public

# To have access to the database container from your local machine 
# use the DATABASE_URL below which replaces nest-postgres (container name) with localhost
#DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?schema=public



# Authentification
JWT_SECRET="an awesome secret that you can generate with `node -e "console.log(require('crypto').randomBytes(256).toString('base64'));"`"
JWT_EXPIRES_IN="1h"
HASH_ROUND="10"

# Database seeding (optional in production)
SEED_USER="an awesome admin user"
SEED_PASSWORD="an awesome secret for an admin user"
SEED_PASSWORD_ALT="an awesome secret for an alt user"